{% extends 'recettes/_base.html' %}
{% block titre %}Liste des recettes{% endblock %}
{% block contenu %}
    <div id="content">
        <div id="page-title">
                <span class="title">Voici les recettes disponibles, bon ap' !</span>
        </div>
        <div class="one-column">
            <ul>
            {% for r in recettes %}
               <li><a href="{% url 'recettes:consulter' r.id %}">{{ r.titre }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}