{% extends 'recettes/_base.html' %}
{% block titre %}{{ recette.titre }}{% endblock %}}
{% block contenu %}
    <div id="content">
        <div id="page-title">
                <span class="title">{{ recette.titre }}</span>
                <span class="subtitle">Type : {{ recette.get_type_recette_display }}</span>
                <span class="subtitle">Cout : {{ recette.cout }} €</span>
                <span class="subtitle">Difficulté : {{ recette.get_difficulte_display }}</span>
        </div>

        <div class="one-column">
            <img src="{{ recette.photo }}"/>
            Moyenne :   {{ recette.moyenne }} / 5

            {% if user.is_authenticated %}
                {% if form_note %}
                     <form action="{% url 'recettes:consulter' recette.id %}" method="post">
                    {{ form_note }}
                    {% csrf_token %}
                     <input type="submit" value="Noter !">
                    </form>
                {% else %}
                    <br/>
                    <span>Vous avez déjà noté !</span>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Connectez-vous pour donner une note</a>
            {% endif %}
        </div>

        <div class="one-column">
            <h4>Est-ce que c'est long à faire ?!</h4>
            <ul>
                <li><span>Temps de préparation :</span> {{ recette.temps_preparation }} minutes</li>
                <li><span>Temps de cuisson :</span> {{ recette.temps_cuisson }} minutes</li>
                <li><span>Temps de repos :</span> {{ recette.temps_repos }} minutes</li>
            </ul>

            <h4>Ingrédients :</h4>
            <ul>
                {% for ingredient in ingredients %}
                    <li> ({{ ingredient.type }}){{ ingredient.libelle }} : {{ ingredient.quantite }} {{ ingredient.unite }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="one-column">
            <h4> Etapes :</h4>
            <ul>
                {% for etape in etapes %}
                    <li> {{ etape.libelle }}  </li>
                {% endfor %}
            </ul>
        </div>

        <div class="one-column">
            <h3> Commentaires :</h3>
            <div class="commentaire">
                <ul>
                    {% for com in commentaires %}
                        <li>
                            <span>{{ com.user }} le {{ com.creation_date }}</span>
                            <div>{{ com.libelle }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if user.is_authenticated %}
                {% if form_com %}
                    <h4>Ajouter un commentaire</h4>
                    <form action="{% url 'recettes:consulter' recette.id %}" method="post">
                    {% csrf_token %}
                        {{ form_com }}
                        <input type="submit" value="Commenter">
                    </form>
                {% else %}
                    Vous avez déjà commenté !
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Connectez-vous pour laisser un commentaire.</a>
            {% endif %}
        </div>

    </div>
{% endblock %}